services:
  backend:
    build:
      context: ./Backend
    image: backend
    extra_hosts:
      - "host.docker.internal:host-gateway" 
    ports:
      - "5000:5000"
    restart: unless-stopped
    env_file:
      - .env